# Secrets
.env
*.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Local data
rio_memory/
*.bak
*.db

# IDE
.vscode/
.idea/
tests/*
tests/**/*

# Virtual environments
venv/
*/venv/
cloud/venv/
local/venv/
